
#main .img-responsive {
  width: 100% !important;
  max-width: 100% !important;
  height: auto !important;
}

#sidebar .social-follow-me li {
  float: left;
  width: 14%;
}

#comments {
  background: lighten($color1, 65%);
  padding: 10px 4%;
  h3 {
    font-size: $fontlevel3;
    border-bottom: 3px solid $color2;
  }
}
.posts .meta, .post_content .meta {
  margin-bottom: 25px;
  margin-top: -7px;
}
ul.social-follow-me {
  text-align: center;
}
ul.social-follow-me li {
  display: inline;
}

/* widgets */
.jcl_count {
  margin: 0 5px;
  font-weight: normal;
  color: $color1;
  font-family: $fontset2;
  font-size: $fontsmall;
}
