
#main .img-responsive {
  width: 100% !important;
  max-width: 100% !important;
  height: auto !important;
}


/* inputs */
input[type="submit"],
#mc_embed_signup .button,
a.button,
#respond .button {
  background: $color4;
  background: -moz-linear-gradient(top, $color4 0%, $color4 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color4), to($color4));
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  color: $color2;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 2px;
  padding: 7px 10px;
  margin: 10px 0 15px 80px;
  text-align: center;
  float: left;
  display: inline;
  width: auto;
  text-shadow: none;
  text-transform: uppercase;
  -webkit-background-clip: padding-box;
}

input[type="text"],
input[type="email"] {
  background: $color2;
  text-align: center;
  letter-spacing: 2px;
  font: inherit;
  border: 1px solid $color1;
  border-radius: 0;
}


/*
.postcontent h2 {
  border-bottom: 2px solid lighten($color1, 50%);
}
.postcontent h2 a {
  padding-bottom: 5px;
  letter-spacing: 2px;
  word-spacing: 5px;
  line-height: 2;
  font-family: $fontset2;
  text-transform: uppercase;
  font-weight: bold;
}
.posts h2 a:hover {
  text-decoration: none;
  border-color: $color3;
  color: $color3;
}
*/
#comments {
  background: lighten($color1, 65%);
  padding: 10px 4%;
  h3 {
    font-size: $fontlevel3;
    border-bottom: 3px solid $color2;
  }
}
.posts .meta, .post_content .meta {
  margin-bottom: 25px;
  margin-top: -7px;
}
ul.social-follow-me {
  text-align: center;
}
ul.social-follow-me li {
  display: inline;
}

#portfolio-tags li.active a, 
#portfolio-fixed li.active a, 
#portfolio-fixed li.current-cat a {
  display: inline-block;
  padding: 3px 12px;
  font-size: 12px;
  font-weight: bold;
  font-family: $fontset4;
  line-height: 1.4;
  background: $color3 !important;
  border: none;
  color: $color2;
  cursor: pointer;
  text-shadow: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#portfolio-tags a:hover, #portfolio-fixed a:hover {
  text-decoration: none;
  background: $color4 !important;
}

/* widgets */
.jcl_count {
  margin: 0 5px;
  font-weight: normal;
  color: $color1;
  font-family: $fontset2;
  font-size: $fontsmall;
}
