@media screen and (max-width: 1020px) {
  #portfolio-slider {
    width: 100%;
  }
  #portfolio-slider img { max-width:100%; width:100%; height:auto; }
}
@media screen and (max-width: 960px) {
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  #wrapper, 
  #inner-wrap,
  .footer-wrapper {
    width: 98%;
  }
  #header {
    width: 100%;
  }
  #portfolio li {
    width: percentage(285/961);
  }
  #portfolio h3.title {
    width: percentage(910/961);
  }
}
/* ipad portrait */
@media screen and (max-width: 768px) {
  #content, .post-content {
    width: 100%;
  }
  #menu, #menu-blog {
    display: none;
  }
  #mobile-menu {
    display: block;
    margin-top: 20px;
  }
  #responsive-menu {
    li a {
      width: 100%;
      border-bottom: 1px dotted $color1;
      background: lighten($color1, 65%);
    }
  }
  #header {
    margin-bottom: 15px;
    margin-right: 0;
  }
  #sidebar {
    width: 100%;
  }
  #inner-wrap {
    width: auto;
    margin:15px 25px 25px 25px;
  }
  #heading {
    margin: 0;
    width: auto;
  }
  #portfolio-tags {
    width: 100%;
  }
  #portfolio li {
    width: 43%;
  }
  .aside {
    width: 100%;
  }
  #footer {
    div.column.middle {
      display: none;
    }
  }
  #footer {
    div.column {
      width: 100%;
    }
  }
}

@media screen and (max-width: 667px) {
  #logo {
    float: initial;
    width: 17%;
    margin-top: 5px;
    margin: 0 auto;
  }
  #menu {
    float: initial;
    margin-top: 25px !important;
  }
  #menu ul li a {
    font-size: 25px  !important;
    display: inline-block;
    padding: 7px;
  }
  .dropdown {
    text-align: center;
  }
  .dropdown li {
    display: inline;
    float: none;
  }
  .post-title, .post_content h1 {
    margin-top: 20px;
  }
  input[type="text"], input[type="email"], textarea {
    width: 100%;
  }
}
@media screen and  (min-width: 641px) and (max-width: 780px)  {
  .posts .postcontent {
    width: 100%;
  }
  .posts .post-thumb {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 486px){
  .posts .postcontent {
    width: 100%;
  }
  .posts .post-thumb {
    width: 100%;
    text-align: center;
  }
  #portfolio li {
    width: 100%;
  }
}
@media screen and (max-width: 471px) {
  #menu {
    margin: 20px 8% 0 !important;
  }
  .dropdown {
    width: 100%;
    display: inline-block;
    margin: 0;
  }
  .dropdown li {
    display: inline-block;
    float:left;
    width: 50%;
  }
}
/* iPhone Portrait */
@media screen and (max-width: 480px) {
  #header a h1 {
    margin-top: 13px;
  }
  #content, #portfolio-tags   {
    width: auto;
  }
  .twocol-one, .aside {
    width: 100% !important;
  }
}
