/*!-- HOME */
#heading {
  background: darken($color1, 20%);
  .action {
    text-shadow: none;
    font-family: $fontset2 !important;
  }
}
#sidebar {

  float: right;
  display: inline;
  width: 260px;
  position: relative;
  margin: 0;
  h3.title span,
  .widget h3 {
    font-size: 1em;
  }
  .widget {
    border: 2px solid $color1;
    padding: 15px;
  }
}

.posts {
  border-bottom: 2px solid $color1;
  padding: 0 0 30px;
  margin: 0 0 30px;
  font-size: 1em;
}
.post-content {
  width: 100%;
  background: $color1;
}
.post-thumb {
  width: 100%;
}


/* contact form */

div.wpcf7 {
  margin-top: 25px !important;
}
