

p {
  font-family: $fontset3;
  font-size: em(16);
  margin-bottom: 15px;
}
h1, h2, h3, h4 {
  margin: 0 0 30px;
  font-weight: inherit;
  line-height: 1.5;
  font-family: $fontset2;
  text-transform: uppercase;
}
h1, .post-title {
  font-size: $fontlevel1;
  margin-top: 0;
}
h2 {
  font-size: $fontlevel2;
}
h3 {
  font-size: $fontlevel3;
}
h4 {
  font-size: $fontlevel4;
}
h5 {
  font-size: $fontlevel5;
}
h6 {
  font-size: $fontlevel6;
}
a {
  color: $color3;
  &:hover {
    color: darken($color3, 20%);
  }
}
.entry blockquote {
  font-style: normal;
  font-family:$fontset3;
  font-size: 1em;
  border: 0;
  border-left: solid 5px $color1;
  padding: 15px;
  margin: 10px;
  footer {
    font-size: 0.8em;
    font-family: $fontset2;
  }
}
/* reset all the things */
.post_content,
.entry {
  font-size: initial;
}

/* blog list page */

/* ******* blog single ******** */

//.postcontent h2 a,
/*
.single .post_content h1 a {
  font-family: $fontset2;
  font-size: $fontlevel1;
  font-weight: 700;
  letter-spacing: em(1);
  line-height: 1.25;
  padding-bottom: 5px;
  text-transform: uppercase;
  word-spacing: em(3);
}
*/
.posts h2 a {
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: normal;
  font-family: inherit;
}
.postcontent p {
  line-height: 1.7;
}

.post_content h1 a {
  color: $color1;
  font-size: inherit;
  line-height: inherit;
  margin-bottom: 8px;
  font-family: $fontset1;
}
.meta {
  font-size: em(12);
  font-family: $fontset3;
}
.entry .tags,
.posts .tags {
  font-size: $fontsmall;
  font-family: $fontset2;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.5;
}


#sidebar {
  .widget {
    font-size: initial;
    line-height: 1.7;
  }
  h3.title span,
  #sidebar .widget h3 {
    font-size: $fontlevel4;
  }
  .textwidget,
  .jcl_widget {
    font-size: 0.9em;
    font-family: $fontset3;
  }
}

/* forms */
#main #formLabels p {
  color: $color1;
}
input[type="submit"]:hover,
#mc_embed_signup .button:hover, #footer .button:hover,
a.button:hover,
.subscription_btn:hover,
#respond .button:hover {
  background: darken($color4, 20%) !important;
  background: -moz-linear-gradient(top, darken($color4, 20%) 0%, darken($color4, 20%) 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(darken($color4, 20%)), to(darken($color4, 20%)));
  color: $color2;
  border: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  cursor: pointer;
  text-shadow: none;
  -webkit-background-clip: padding-box;
}
/* inputs */
input[type="submit"],
#mc_embed_signup .button,
a.button,
#footer a.button,
#respond .button {
  background: $color4;
  background: -moz-linear-gradient(top, $color4 0%, $color4 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color4), to($color4));
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  color: $color2;
  cursor: pointer;
  font-family: $fontset2;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 2px;
  padding: 7px 10px;
  margin: 10px 0 15px 0;
  text-align: center;
  float: left;
  display: inline;
  width: auto;
  text-shadow: none;
  text-transform: uppercase;
  -webkit-background-clip: padding-box;
}

input[type="text"],
input[type="email"] {
  background: $color2;
  text-align: left;
  letter-spacing: 2px;
  font: inherit;
  border: 1px solid lighten($color1, 20%);
  border-radius: 0;
}
