$color1: #454343; // darkgrey
$color2: #fff; // white
$color3: #01AEFF; // teal
$color3b: #007CFF; // other teal
$color4: #FF5628; // orange

$fontset1: 'Oswald', Arial, serif;
$fontset2: 'Open Sans', Arial, sans-serif;
$fontset3: Georgia;
$fontset4: Arial;

$fontlevel1: 2.441em;
$fontlevel2: 1.953em;
$fontlevel3: 1.563em;
$fontlevel4: 1.25em;
$fontlevel5: 1.15em;
$fontlevel6: 1.09em;
$fontsmall: 0.8em;