$color1: #454343; // darkgrey
$color2: #fff; // white
$color3: #01AEFF; // teal
$color3b: #007CFF; // other teal
$color4: #FF5628; // orange

$fontset1: 'Oswald', Arial, serif;
$fontset2: 'Open Sans', Arial, sans-serif;
$fontset3: 'Merriweather';
$fontset4: Arial;

$fontlevel1: em(32);
$fontlevel2: em(30);
$fontlevel3: em(28);
$fontlevel4: em(26);
$fontlevel5: em(24);
$fontlevel6: em(22);
$fontsmall: 0.8em;

$maxwidth: 961px;
